<!-- <form #carForm="ngForm" (ngSubmit)="save(carForm.value)" name="inscription">
  <mat-form-field>
    
    <input matInput type="text" placeholder="Name" [formControl]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="prenom" [formControl]="prenom">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Email" [formControl]="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="no tel" [formControl]="numerodetel">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [formControl]="password">
  </mat-form-field>
  <button mat-button
  type="button" [routerLink]="['']"
  (click)="createUser()"
  class="blue-button">
  submit
</button>
</form> -->